@import "tailwindcss";
@theme{
    --color-brandColor: #846AFF;
    --color-dark10: #121214;
    --color-dark20: #7C7C8A;
    --color-dark30: #EAEAEA;
    --color-dark40: #EEEEFF;
    --color-dark50: #F8F8FF;
    --color-dark60: #FFFFFF;
    --color-black: #000000;
    --font-roboto: "Roboto", serif;
}